# Web Framework
fastapi
uvicorn[standard]

# Database & ORM
sqlalchemy
psycopg2-binary
alembic

# Data Validation
pydantic[email]

# Background Tasks
celery
redis

# Configuration
python-dotenv

# Security & Auth (we'll need these soon)
python-jose[cryptography]
passlib[bcrypt]
pydantic-settings
python-telegram-bot==22.3
hypercorn
pytonapi